<script>
    let html = `
  <html>
    <body>
        <h1 id="title">Page Title</h1>
    </body>
  </html>
`;

const parser = new DOMParser();
const document = parser.parseFromString(html, "text/html");
const data = [];

function traverse(nodes, parentArray){
    nodes.forEach(node => {
        console.log(node['nodeName'])
        const newData = [];
        parentArray.push({name: node['nodeName'], children: newData});

        if(node.childNodes.length){
            traverse(node.childNodes, newData)
        }
        
    })
}

traverse(document.childNodes, data);
</script>

<input type="text" id="html-input" value="Hello World!" oninput="parseTree()">
