---
---

<script is:inline>
  //let ctx = document.getElementById('1d').getContext('2d');

  function set1dValue(slider) {
    const oned = document.getElementById("1d");
    oned.innerHTML = slider.value;
  }
</script>

<div class="mx-auto my-3 w-fit">
  <div id="1d" class="w-52 h-52 flex justify-center items-center text-5xl">
    0
  </div>
  <div class="flex justify-center">
    <input
      class="appearance-none bg-blue-500 rounded-lg h-1 thumb-lg-blue-600"
      type="range"
      min="-5"
      max="5"
      step="0.1"
      oninput="set1dValue(this)"
    />
  </div>
</div>
