@tailwind base;
@tailwind components;
@tailwind utilities;

.thumb-lg-blue-700::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #1d4ed8;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
  }

  .thumb-lg-blue-700::-moz-range-thumb {
    -moz-appearance: none;
    appearance: none;
    background-color: #1d4ed8;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 100%;
    border: none;
  }

  .thumb-md-red-500::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    background-color: #ef4444;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
  }
  
  .thumb-md-green-500::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    background-color: #22c55e;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
  }

  .thumb-md-blue-500::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    background-color: #3b82f6;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }